<div id="{{ id }}" style="width: {{ width }}{{ w_unit }}; height: {{ height }}{{ h_unit }}"></div>
{{type}}
{% if not instances %}
		<link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
		<script src="//unpkg.com/leaflet/dist/leaflet.js"></script>

		<script>
			var map = L.map('{{ id }}').setView([{{ lat }}, {{ lng }}], {{ zoom }});
			
			L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);
            		map.scrollWheelZoom.disable();

			var marker = L.marker([{{ lat_marker }}, {{ lng_marker }}])
				.addTo(map)
				.bindPopup("{{ address }}")
            	.openPopup();
		</script>
		<style>
		    #{{ id }} .leaflet-pane.leaflet-tile-pane {
                filter: {{ css_tile_filter }}({{ css_tile_filter_value }});
            }
		</style>

{% endif %}
