<div id="{{ id }}" style="width: {{ width }}px; height: {{ height }}px"></div>
{{type}}
{% if not instances %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

		<script>
			var map = L.map('{{ id }}').setView([{{ lat }}, {{ lng }}], {{ zoom }});

			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);

			var marker = L.marker([{{ lat_marker }}, {{ lng_marker }}])
				.addTo(map)
				.bindPopup("{{ address }}")
            	.openPopup();
		</script>

{% endif %}
