<div id="{{ id }}" style="width: {{ width }}px; height: {{ height }}px"></div>
{{type}}

{% if not instances %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.js"></script>

		<script>
			var map = L.map('{{ id }}').setView([{{ lat }}, {{ lng }}], {{ zoom }});

			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);
 
            var myItems = [
                {% for items in items_list %}
                    [ "{{ items[0] }}", {{ items[1] }}, {{ items[2] }} ],
                {% endfor %}
            ];

            var markers = new L.layerGroup();
            for (var i = 0; i < myItems.length; i++) {
                var item = myItems[i];
                marker = new L.marker([item[1],item[2]]).bindPopup(item[0]);
                markers.addLayer(marker);
            }
            map.addLayer(markers);
		</script>

{% endif %}
